site_name: Atelier
site_url: https://pblaney-atelier.github.io
site_description: Workshop for Genomic Data Science
site_author: Patrick Blaney
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/atelier-icon.png
  favicon: assets/atelier-icon.png
  features:
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - navigation.path
    - navigation.prune
    - search.suggest
    - search.highlight
    - toc.integrate
    - content.code.copy
    - content.tabs.link
  palette:
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: light green
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # Light mode
    - scheme: default
      primary: indigo
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

nav:
  - Home: index.md
  - Scripts: scripts.md
  - Reference:
      - bamCleaner: "man/bamcleaner.md"
      - md5Checker: "man/md5checker.md"
      - s3Mover: "man/s3mover.md"
      - sraPrefetcher: "man/sraprefetcher.md"
  - Resources: resources.md
  - Recipes:
      - AWS user-collaborator: "recipes/user-collaborator.md"

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pblaney/atelier
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0000-0002-9319-8866

copyright: Copyright &copy; 2026 Patrick Blaney